<!--sucesso nome do arquivo-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Wave</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
<body>

    <div id="header-bg">
        <header id="header">
          <a id="logo" href="/">BLUE WAVE</a>
          <nav id="nav">
            <button id="btn-mobile">
              <span id="hambuger"></span>
            </button>
           
            <ul id="menu">
              <li><a href="">Quem Somos?</a></li>
              <li><a href="">Sou um ONG</a></li>
              <li><a href="/voluntarioForm">Quero ser voluntário</a></li>
              <li><a href="/login">Entrar</a></li>
            </ul>
          </nav>
        </header>
      </div>

      <section>
         <h1 style="text-align: center; font-size: 3rem; color: #00A8FF;">Em Construção...</h1>
      </section>
</body>
</html>